name: CI/CD

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'helm/**'
      - 'k8s/**'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: App import sanity
        run: |
          python - <<EOF
          import app
          print("Flask app imports OK")
          EOF

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: |
          pip install -r requirements.txt
          pip install pytest

      - run: pytest || echo "No tests yet"

  code-quality:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - run: |
          pip install ruff
          ruff check .

  push:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/api-nexus:${{ github.run_id }}

  update-helm-chart:
    name: Update Helm Chart
    runs-on: ubuntu-latest
    needs: push

    steps:
      - name: Checkout Repository 
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }}

      - name: Update docker image tag in Helm values
        run: |
          sed -i 's/tag: .*/tag: "${{ github.run_id }}"/' helm/api-nexus-chart/values.yaml

      - name: Commit and push changes
        run: |
          git config user.email "ankitmishra.letter@gmail.com"
          git config user.name "Ankit Mishra"
          git add helm/api-nexus-chart/values.yaml
          git commit -m "Update docker image tag in helm chart"
          git push
